.component-user-body {
    background-color: #d0d0d4;
    border-radius: 8px;
    word-break: break-all;
    margin: 10px 10px;
    padding: 10px 10px;
}

.component-user-body #content {
    text-align: center;
}
